body {
    font-family: inherit;
    background-color: #ADD2B7;
    color: #000; 
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #E8F1A2;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #E0115F;
    font-weight: bold;
    font-size: 19px;
}

main {
    max-width: 50em;
    margin: 0 auto;
    padding: 15px;
    line-height: 1.4em; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ADD2B7;
    color: black;
}

.float-left {
    float: left;
    margin: 15px;
}

.float-right {
    float: right;
    margin: 15px;
}

